<footer id="footer">
    <div class="container text-center">
      <p>Copyright &copy; 2018. Created by <i class="fas fa-heart"></i> Tuhin</p>
      <a href="/admin/pages">Admin Area</a>
    </div>
  </footer>

<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>
