<%- include('../layouts/header') %>
    <!-- login form -->
    <section id="login-form" class="vertical-center">
        <div class="container text-center">
          <h2>Signin here....</h2>
          <div class="row">
            <div class="col-md-12">
              <form class="signin-signup-form">
                <div class="form-group">
                  <input type="email" name="email" class="form-control" placeholder="email">
                </div>
                <div class="form-group">
                  <input type="password" name="password" class="form-control" placeholder="password">
                </div>
                <button type="submit" class="btn btn-primary btn-signin-signup" name="signin">Signin</button>
              </form>
            </div>
          </div>
        </div>
    </section>
<%- include('../layouts/footer') %>