    /*
    Flaticon icon font: Flaticon
    Creation date: 09/06/2017 10:47
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-rocket-ship:before { content: "\f100"; }
.flaticon-coffee:before { content: "\f101"; }
.flaticon-leaf:before { content: "\f102"; }
.flaticon-train:before { content: "\f103"; }
.flaticon-taxi:before { content: "\f104"; }
.flaticon-man-on-motorbike:before { content: "\f105"; }
    
    $font-Flaticon-rocket-ship: "\f100";
    $font-Flaticon-coffee: "\f101";
    $font-Flaticon-leaf: "\f102";
    $font-Flaticon-train: "\f103";
    $font-Flaticon-taxi: "\f104";
    $font-Flaticon-man-on-motorbike: "\f105";